$mainFontFamily: "Poppins",
sans-serif;

$navbarSearchInputBg: #f3f3f3;
$navbarLinkColor: #000;
$navbarLinkHoverColor: #3e976c;
$navbarButtonColor: #000;
$navbarBadgeBGColor: #bdefd6;
$navbarBadgeColor: #3e976c;
$navbarBgColor: rgba(255, 255, 255, 0.8);
$navbarMoveBoxShadow: #0000001a;

$sliderDotBgColor: #bdefd6;
$sliderDotBgActiveColor: #3e976c;

$productBoxButtonBgColor: #fff;
$productBoxButtonBgHoverColor: #3e976c;
$productBoxButtonBgFontColor: #000;
$productBoxButtonBgFontHoverColor: #fff; 
$productBoxTitleFontColor: #7a7a7a;
$productBoxRatingColor: #d3c614