.product-box {
    &__picture {
        position: relative;

        &:hover {
            .product-box__hover-image {
                opacity: 1;
            }
            .product-box__buttons{
                opacity: 1;
            }
        }
    }
    &__start-image {
        display: block;
        width: 100%;
    }
    &__hover-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 300ms;
    }

    &__buttons {
        @include reset-list;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: 300ms;
        

    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $productBoxButtonBgColor;
        color: $productBoxButtonBgFontColor;
        transition: 300ms;
        &:hover {
            color:$productBoxButtonBgFontHoverColor;
            background-color: $productBoxButtonBgHoverColor;
        }


    }

    &__title{
        text-align: center;
        font-size: 12px;
        color: $productBoxTitleFontColor;
        margin: 15px 0;
        text-transform: uppercase;
    }

    &__price {
        text-align: center;
        margin: 0 0 15px 0;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__rating {
        text-align: center;
        color: $productBoxRatingColor;
    }
}