.navbar {
    padding: 35px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 12;
    background-color: $navbarBgColor;
    
    &--move {
        box-shadow: 0 0 5px $navbarMoveBoxShadow;

        .navbar__logo {
            width: 0;
            height: 0;
            overflow: hidden;
            margin: 0;
        }
    
    }

    
   
    .container {
        display: flex;
        align-items: center;
    }

    &__search {
        width: 25%;
        position: relative;
    }

    &__input {
        height: 40px;
        background-color: $navbarSearchInputBg;
        border-radius: 40px;
        border: 0;
        padding: 0 60px 0 20px;
        outline: none;
        font-size: 14px;
        width: 100%;
    }
    &__magnifying {
        border: 0;
        background: none;
        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0 -50%;
        cursor: pointer;
    }

    &__center{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo{
        margin: 0 0 40px 0;
        transition: 300ms;
    }

    &__menu {
        @include reset-list;
        display: flex;
        gap: 40px;
    }

    &__link{
        font-weight: 500;
        color: $navbarLinkColor;
        transition: 300ms;

        &:hover {
            color: $navbarLinkHoverColor;
        }
    }

    &__right {
        display: flex;
        width: 25%;
        justify-content: flex-end;
        gap: 20px;
    }

    &__button {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $navbarButtonColor;
        font-size: 22px;
    }

    &__badge {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $navbarBadgeBGColor;
        color: $navbarBadgeColor;
        font-size: 12px;
        align-items: center;
        border-radius: 50%;
        font-weight: 500;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

}